/**********beginning of bill history**********/
/* Mobile View */
div, h1, h2, h3, h4, h5, h6, p{
  font-family: 'Open Sans', sans-serif;
}

form input, form textarea{
  font-family: 'Noto Sans KR', sans-serif;
}

/* body{font-size: 100%;}
p   {font-size: 0.75em;}
h1  {font-size: 1.5em;}
h2  {font-size: 1.3em;}
h3  {font-size: 8;} */

.ky-bill-history{
  position: relative;
  width: 100vw;
  height: calc(100vh - 48px);
  max-height: calc(100vh - 48px);
  background-color: #f9f9f9;
}

.ky-total-balance-container{
  width: 90vw;
  height: 25%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ky-total-balance-container div{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 4px 0 #b9b9b9;
  border-radius: 4px;
  padding: 1.6em 2em;
  background: #fff;
  box-sizing: border-box;
}

.ky-balance-header{
  margin-bottom: 22px;
  color: #575757;
  font-weight: 600;
  font-size: 1em;
}

.ky-total-balance{
  color: #2832C2;
  font-weight: 800;
  font-size: 1.3em;
}

.ky-transaction-history-header{
  width: 90vw;
  height: 5%;
  margin: 0 auto;
  text-align: left;
  font-size: 0.875em;
}

.ky-transaction-history-container,
.ky-empty-bill-history{
  position: relative;
  width: 90vw;
  height: 68%;
  margin: 0 auto;
}

.ky-empty-bill-history{
  border: 2px dashed #999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ky-empty-bill-history div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ky-empty-bill-history i{
  font-size: 1.8em;
  margin: 15px;
}

.ky-empty-bill-history span{
  font-size: 0.875em;
}

.ky-transaction-history-container div{
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.ky-transaction-history-container table{
  border-collapse: collapse;
  border: none;
  font-size: 1em;
}

.ky-transaction-history-container table th:nth-child(1){
  padding: 14px 3px;
  text-align: middle;
}

.ky-transaction-history-container table th:nth-child(2){
  padding: 14px 6px;
  text-align: left;
}

.ky-transaction-history-container table th:nth-child(3){
  padding: 14px 16px 14px 4px;
  text-align: right;
}

.ky-transaction-history-container table td:nth-child(1){
  width: 25%;
  text-align: center;
  font-size: 0.875em;
  padding: 18px 3px;
  box-sizing: border-box;
  text-align: center;
  color: #222222c4;
}

.ky-transaction-history-container table td:nth-child(2){
  width: 45%;
  max-width: 4.5em;
  letter-spacing: 0.3px;
  text-align: left;
  font-size: 0.875em;
  padding: 18px 6px;
  line-height: 1.5em;
  word-wrap: break-word;
  box-sizing: border-box;
  text-align: left;
  color: #222;
}

.ky-transaction-history-container table td:nth-child(3){
  width: 30%;
  text-align: right;
  vertical-align: middle;
  padding: 18px 16px 18px 4px;
  box-sizing: border-box;
  text-align: right;
  font-weight: 600;
}

.ky-transaction-history-container table thead tr th{
  position: sticky;
	top: 0;
	z-index: 5;
  background: #2EC5FF;
  color: #fff;
  font-size: 1em;
  font-weight: 800;
}

.ky-transaction-history-container table tbody tr{
  border-bottom: 1px solid #ddd;
}

.plus{
  color: #27AE60;
}

.minus{
  color: #E74C3C;
}

/* End Mobile View */

/* Tablet View */
@media (min-width: 30em) and (max-width: 60em){

.ky-bill-history{
  position: relative;
  top: 0;
  right: 0;
  float: right;
  width: calc(100% - 167px);
  height: calc(100vh - 52px);
  max-height: calc(100vh -52px);
  background-color: #eeeeee6b;
}

.ky-total-balance-container{
  width: 100%;
  height: 6%;
}

.ky-total-balance-container div{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 0 0 0 transparent;
  border-radius: 0px;
  padding: 0;
  background: none;
  box-sizing: border-box;
}

.ky-balance-header{
  margin-bottom: 0px;
  margin: 0 20px 0 12px;
  font-size: 0.875em;
}

.ky-total-balance{
  font-size: 1em;
  font-weight: border;
}

.ky-transaction-history-header{
  width: 98%;
  height: 8%;
  background: #fff;
  color: #575757;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  border-radius: 4px 4px 0 0;
}

.ky-transaction-history-container,
.ky-empty-bill-history{
  width: 98%;
  height: 85%;
  background: #fff;
  border-radius: 0 0 4px 4px;
  border: none;
}

.ky-empty-bill-history div{
  width: 88%;
  height: 90%;
  background: #fff;
  border-radius: 0 0 4px 4px;
  box-sizing: border-box;
  border: 2px dashed #999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ky-transaction-history-container div{
  width: 80%;
  margin: 0 auto;
}

.ky-transaction-history-container table{
  position: relative;
  width: 100%;
}

.ky-transaction-history-container table th:nth-child(2){
  text-align: center;
}

.ky-transaction-history-container table td:nth-child(1){
  color: #222222c4;
  padding: 14px 3px;
}

.ky-transaction-history-container table td:nth-child(2){
  width: 50%;
  color: #222222c4;
  padding: 14px 12px;
}

.ky-transaction-history-container table td:nth-child(3){
  width: 25%;
  padding: 14px 16px 14px 12px;
}

}
/* End Tablet View */


/* Desktop View */
@media (min-width: 60em){

.ky-bill-history{
  width: 100%;
  height: calc(100vh - 106px);
  max-height: calc(100vh - 106px);
  background: #fff;
}

.ky-total-balance-container{
  width: 100%;
  height: 9%;
}

.ky-total-balance-container div{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 0 0 0 transparent;
  border-radius: 0px;
  padding: 0;
  background: none;
  box-sizing: border-box;
}

.ky-balance-header{
  margin-bottom: 0px;
  margin: 0 20px 0 12px;
  font-size: 1.3em;
}

.ky-total-balance{
  font-size: 1.2em;
  font-weight: border;
}

.ky-transaction-history-header{
  width: 100%;
  height: 6%;
  background: #fff;
  color: #575757;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 1.2em;
}

.ky-transaction-history-container{
  width: 100%;
  height: 85%;
}

.ky-empty-bill-history{
  width: 90%;
  height: 80%;
  box-sizing: border-box;
}

.ky-transaction-history-container div{
  width: 80%;
  margin: 0 auto;
}

.ky-transaction-history-container table{
  position: relative;
  width: 100%;
  font-size: 1.1em;
}

.ky-transaction-history-container table th:nth-child(2){
  text-align: center;
}

.ky-transaction-history-container table td:nth-child(2){
  width: 50%;
}

.ky-transaction-history-container table td:nth-child(3){
  width: 25%;
}
}
/* End Desktop View */
/**********end of bill history**********/


/**********beginning of error page**********/
.error-page-content{
  position: relative;
  width: 100vw;
  height: calc(100vh - 48px);
  max-height: calc(100vh - 48px);
  background-color: #fcfcfc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-page-container{
  width: 100%;
  height: 60%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.error-page-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #222;
}

.error-page-header i{
  font-size: 3.2em;
  margin: 16px;
}

#main-error-message{
  font-size: 1.3em;
  margin: 0 20px 20px 20px;
}

.error-page-body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-page-message{
  margin: 20px;
  font-size: 1em;
}

.error-page-buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.error-page-buttons a{
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  border-radius: 3px;
  font-size: 1em;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.error-page-buttons a:nth-child(1){
  background: #2EC5FF;
}

.error-page-buttons a:nth-child(1) i,
.error-page-buttons a:nth-child(2) i{
  margin-right: 6px;
}

.error-page-buttons a:nth-child(2){
  background: #999;
}
/* Tablet View */
@media (min-width: 30em) and (max-width: 60em){

.error-page-content{
  height: calc(100vh - 52px);
  max-height: calc(100vh - 52px);
  background-color: #eeeeee6b;
}

.error-page-header i{
  font-size: 4em;
  margin: 26px;
}

#main-error-message{
  font-size: 1.5em;
  margin: 0 30px 30px 30px;
}

.error-page-message{
  margin: 30px;
  font-size: 1.2em;
}

.error-page-buttons a{
  font-size: 1.1em;
  margin: 15px;
  padding: 13px;
}

.error-page-buttons a:nth-child(1) i,
.error-page-buttons a:nth-child(2) i{
  margin-right: 10px;
}
}
/* End Tablet View */

/* Desktop View */
@media (min-width: 60em){
.error-page-content{
  width: 100%;
  height: calc(100vh - 64px);
  max-height: calc(100vh - 64px);
  background: #fff;
}

.error-page-header i{
  font-size: 4.5em;
  margin: 26px;
}

#main-error-message{
  font-size: 1.5em;
  margin: 0 30px 30px 30px;
}

.error-page-message{
  margin: 30px;
  font-size: 1.2em;
}

.error-page-buttons a{
  font-size: 1.1em;
  margin: 15px;
  padding: 13px;
}

.error-page-buttons a:nth-child(1) i,
.error-page-buttons a:nth-child(2) i{
  margin-right: 10px;
}
}
/* End Dasktop View */
/********** end of error page **********/

/********** beginning of footer**********/
/* Mobile View */
footer{
  position: relative;
  clear: both;
  width: 100%;
  padding: 6%;
  background: #12171BDB;
  box-sizing: border-box;
}

.footer-accounts, .footer-contact-us{
  width: 100%;
}

.footer-accounts{
  margin-bottom: 24px;
}

footer h6{
  color: #fff;
  font-size: 0.8em;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 14px;
}

.footer-social h6{
  display: none;
}

.bank-accounts-container,
.phone-number-container,
.address-container{
  display: flex;
  flex-wrap: nowrap;
  color: #B3B6BB;
}

.bank-accounts-container span{
  display: none;
  position: absolute;
  bottom: 100%;
  left: 30%;
  background: #151515;
  border-radius: 5px;
  padding: 5px 7px 6px 7px;
  font-size: 0.85em;
}

.bank-accounts-container span::before{
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%) rotate(45deg);
  border-radius: 2px 0 0 0;
  background-color: #151515;
}

.footer-accounts i,
.footer-contact-us i{
  font-size: 0.8em;
  margin-right: 20px;
  padding-top: 2px;
  box-sizing: border-box;
}

.bank-accounts-container ul{
  display: flex;
  flex-direction: column;
}
.bank-accounts-container ul li{
  color: #B3B6BB;
  font-size: 0.875em;
  font-weight: 600;
  margin-bottom: 0.5em;
  position: relative;
}
.bank-accounts-container ul li input{
  background: none;
  border: 0 none;
  font-size: 0.875em;
  color: #B3B6BB;
}
.bank-accounts-container ul li:nth-child(1) input{
  width: 10.5em;
}
.bank-accounts-container ul li:nth-child(2) input, .bank-accounts-container ul li:nth-child(3) input{
  width: 9.5em;
}
.bank-accounts-container ul li:nth-child(4) input, .bank-accounts-container ul li:nth-child(5) input{
  width: 6.5em;
}
.bank-accounts-container ul li button{
  background: none;
  border: 0 none;
  color: #767676;
  font-size: 1em;
  line-height: 1em;
  padding-left: 0;
}
.footer-contact-us a{
  color: #B3B6BB;
  text-decoration: none;
  font-size: 0.875em;
  letter-spacing: 0.5px;
}

.phone-number-container{
  margin-bottom: 12px;
}

.address-container p{
  font-size: 0.9em;
  line-height: 1.3em;
  letter-spacing: 0.2px;
}

.footer-social{
  position: absolute;
  top: 6%;
  right: 6%;
}

.footer-social a{
  display: inline-flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #fff;
  border: 2px solid #808080;
  background: #515253;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.footer-social a:first-child{
  margin-right: 6px;
}

/* End Mobile View */

/* Tablet View */
@media (min-width: 30em) and (max-width: 60em){

footer{
  padding: 4%;
}

.footer-accounts i,
.footer-contact-us i{
  font-size: 0.875em;
}

.footer-accounts a,
.footer-contact-us a{
  font-size: 0.9em;
  letter-spacing: 0.8px;
}

.address-container p{
  font-size: 1em;
  line-height: 1.5em;
  letter-spacing: 0.8px;
}

.footer-social{
  top: 10%;
  right: 6%;
}

}

/* End Tablet View */

/* Destop View */
@media (min-width: 60em){

footer{
  padding: 4%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.footer-accounts, .footer-social, .footer-contact-us{
  width: calc(100% / 3);
}

.footer-social{
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer h6{
  font-size: 0.85em;
  margin-bottom: 22px;
  letter-spacing: 0.8px;
}

.footer-social h6{
  display: block;
}

.footer-social{
  position: relative;
  left: 0;
  right: 0;
}

.footer-accounts i,
.footer-contact-us i{
  font-size: 0.8em;
}

.footer-accounts a,
.footer-contact-us a{
  font-size: 0.9em;
  letter-spacing: 0.75px;
}

.address-container p{
  font-size: 0.975em;
  letter-spacing: 1px;
  line-height: 1.2em;
}

.bank-accounts-container div a:first-child{
  margin-bottom: 12px;
}

}
/* End Desktop View */
/********** end of footer **********/

/********** beginning of update homepage **********/
/* Mobile View */
.ky-home{
  position: relative;
  width: 100vw;
  height: auto;
  padding: 6% 3.5%;
  box-sizing: border-box;
}

.ky-home-customerInfo-container{
  display: flex;
  align-items: flex-start;
  position: relative;
  margin-bottom: 22px;
}

.ky-home-customerInfo-container i{
  font-size: 30px;
  margin-right: 8px;
}

.ky-customerInfo{
  display: flex;
  flex-direction: column;
}

.ky-customerInfo span{
  font-size: 0.875em;
  font-weight: 800;
}

#ky-home-greeting{
  font-size: 0.88em;
  margin-bottom: 8px;
}

#ky-home-balance,
#ky-home-points{
  color: #052E65;
}

#ky-home-balance{
  margin-bottom: 2px;
}

.ky-home-customerInfo-container button{
  position: absolute;
  right: 0;
  background-color: #F2F3F7;
  border: none;
  color: #052E65;
  box-shadow: 0 0 4px 0 #c1bfbf;
  border-radius: 4px;
  padding: 10px 8px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.ky-home-customerInfo-container button span:nth-child(1){
  margin-right: 4px;
  font-size: 21px;
}

.ky-home-customerInfo-container button span:nth-child(2){
  font-size: 0.75em;
}

.ky-swiper-container{
  position: relative;
  height: 37vh;
}

.swiper-container{
  width: 100%;
  height: 100%;
  padding-bottom: 28px;
  box-sizing: border-box;
}

.swiper-slide a{
  text-decoration: none;
}

.swiper-slide a img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.swiper-button-next,
.swiper-button-prev{
  top: calc(50% - 14px);
}

.swiper-button-next::after,
.swiper-button-prev::after{
  content: '';
  width: 35px;
  height: 35px;
  background: #222;
  opacity: 0.6;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}

.swiper-button-prev::after{
  left: -3px;
}

.swiper-button-next i,
.swiper-button-prev i{
  font-size: 26px;
  color: #fff;
}

.ky-float-text-container p{
  font-size: 0.875em;
  color: #575757;
  line-height: 1.25em;
  font-weight: 600;
}

.ky-float-text-container{
  margin-bottom: 20px;
}

.ky-exchange-rate-contact-admin-container{
  margin: 20px 0;
}

.ky-exchange-rate-container{
  width: 100%;
  border: 2px dashed #575757;
  border-radius: 10px;
  padding: 18px 10px;
  margin-bottom: 12px;
  box-sizing: border-box;
}

.ky-exchange-rate-container h1,
.ky-contact-admin-container h1{
  font-size: 0.875em;
  font-weight: 600;
  color: #052E65;
}

.ky-exchange-rate-container h1{
  text-align: center;
  margin-bottom: 18px;
}

.ky-rate-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ky-us-rate,
.ky-mm-rate{
  display: flex;
  flex-direction: column;
  width: 45%;
  align-items: center;
}

.ky-us-rate > span:first-child,
.ky-mm-rate > span:first-child{
  font-size: 0.65em;
  color: #575757;
  margin-bottom: 12px;
  font-weight: 500;
}

.ky-us-rate > span:nth-child(2),
.ky-mm-rate > span:nth-child(2){
  font-size: 0.95em;
  color: #222;
  font-weight: 800;
}

#ky-mm-unit{
  font-size: 0.8em;
}

.ky-exchange-icon{
  width: 32px;
  height: 32px;
  background: #fff;
  box-shadow: 0 0 4px 0 #c1bfbf;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #575757;
}

.ky-contact-admin-container{
  box-shadow: 0 0 4px 0 #c1bfbf;
  padding: 16px;
  border-radius: 4px;
  box-sizing: border-box;
  display: none;
}

.ky-contact-admin-container h1{
  margin-right: 14px;
}

.ky-contact-admin-container a{
  text-decoration: none;
  display: flex;
  align-items: center;
}

.ky-contact-admin-container img{
  width: 22px;
  height: 22px;
  margin-right: 14px;
}

.ky-accordion-header{
  display: flex;
  align-items: center;
  padding: 17px 16px;
  font-size: 0.875em;
  background: #F2F3F7;
  color: #052E65;
  border-radius: 4px;
}

.ky-accounts-accordion{
  margin-bottom: 12px;
}

.ky-accordion-header h1{
  font-weight: 800;
}

.ky-accordion-header h1::before{
  content: '\002B';
  color: #052E65;
  margin-right: 12px;
  font-size: 1.5em;
  font-weight: 800;
  vertical-align: middle;
  position: relative;
  bottom: 1px;
}

.ky-active-accordion-header h1::before{
  content: "\2212";
}

.ky-accordion-body{
  padding: 0 16px;
  font-size: 0.75em;
  background: #fafafa;
  border-radius: 0 0 4px 4px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.ky-active-accordion-header{
  border-radius: 4px 4px 0 0;
}

.ky-accordion-body table{
  position: relative;
  width: 100%;
}

.ky-accordion-body table th,
.ky-accordion-body table td{
  padding: 14px 0;
}

.ky-accordion-body table thead tr:nth-child(1){
  border-bottom: 2px solid #ddd;
}

.ky-accordion-body table tbody{
  color: #052E65;
  font-size: 1.05em;
}

.ky-accordion-body table th{
  font-weight: 600;
  color: #222;
}

.ky-accordion-body table th:nth-child(1){
  width: 25%;
  text-align: left;
}

.ky-accordion-body table th:nth-child(2){
  width: 30%;
  text-align: left;
}

.ky-accordion-body table th:nth-child(3){
  width: 45%;
  text-align: right;
}

.ky-accordion-body table td:last-child{
  padding: 18px;
  text-align: right;
  box-sizing: border-box;
}

.ky-accordion-body table tbody button{
  border: none;
  background: none;
  width: auto;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 0;
}

.ky-accordion-body table tbody td input{
  width: 10em;
  background: none;
  border: none;
  color: #052E65;
}

.ky-accordion-body{
  font-size: 0.875em;
}

.ky-membership-accordion{
  clear: both;
}

.ky-membership-head{
  height: 36px;
  padding: 10px 0;
  display: flex;
  align-items: center;
  font-size: 1em;
  box-sizing: border-box;
}

.ky-membership{
  margin-bottom: 24px;
}

.ky-membership-head i{
  margin-right: 12px;
}

.ky-membership-head h1{
  color: #222;
  font-weight: 800;
}

.ky-membership-body{
  position: relative;
}

.ky-percentage-container{
  position: absolute;
  top: -36px;
  height: 36px;
  right: 0;
  display: flex;
  align-items: center;
  color: #2EC5FF;
}

.ky-percentage-container > span:nth-child(1){
  font-weight: bolder;
  margin-right: 3px;
}

.ky-percentage-container > span:nth-child(2){
  font-size: 0.8em;
}

.ky-membership-body p{
  text-align: left;
  color: #575757;
  line-height: 1.25em;
}

.ky-membership-tab-header,
.ky-membership-tab-indicator{
  max-height: 0;
  overflow: hidden;
}








/* End Mobile View */

/* Tablet View */
@media (min-width: 30em) and (max-width: 60em){

.ky-home{
  position: relative;
  top: 0;
  right: 0;
  float: right;
  width: calc(100% - 167px);
  height: calc(100vh - 52px);
  max-height: calc(100vh -52px);
  background-color: #fff;
  overflow-y: auto;
  padding: 2%;
}

.ky-exchange-rate-contact-admin-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 14px;
}

.ky-contact-admin-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.ky-accounts-accordion{
  grid-column: 2/3;
  grid-row: 1/3;
}

.ky-membership-accordion-header{
  display: none;
}

.ky-membership-accordion-body{
  max-height: none;
  position: relative;
  box-shadow: 0 0 4px 0 #c1bfbf;
  overflow: hidden;
  padding: 0;
  background: #fff;
  border-radius: 6px;
  height: 30vh;
  margin-bottom: 14px;
}

.ky-membership-tab-header,
.ky-membership-tab-indicator{
  max-height: none;
}

.ky-membership-head{
  display: none;
}

.ky-membership-tab-header{
  display: flex;
  align-items: center;
  height: 50px;
}

.ky-percentage-container{
  top: 0;
}

.ky-membership-tab{
  width: calc(100% / 4);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 800;
  outline: none;
}

.ky-membership-tab i{
  margin-right: 4px;
}

.ky-membership-body{
  padding: 28px 22px;
}

.ky-active-tab-header > span{
  color: #2EC5FF;
}

.ky-membership{
  position: absolute;
  top: -200%;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 500ms ease-in-out 0ms,
              transform 500ms ease-in-out 0ms;
}

.ky-active-tab-body{
  top: 50px;
  opacity: 1;
  transform: scale(1);
}

.ky-membership-body p{
  width: 82%;
}

.ky-percentage-container{
  right: 22px;
  top: 50%;
  transform: translateY(-50%);
  width: 76px;
  height: 76px;
  box-shadow: 0 0 4px 0 #c1bfbf;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ky-percentage-container > span:nth-child(1){
  margin-bottom: 8px;
}

.ky-membership-tab-indicator{
  position: relative;
  width: calc(100% / 4);
  height: 3px;
  background: #2EC5FF;
  border-radius: 2px;
  left: 0;
  transition: all 200ms ease-in-out;
}

}
/* End Tablet View */

/* Desktop View */
@media (min-width: 60em){

.ky-home{
  width: 100%;
  height: calc(100vh - 106px);
  max-height: calc(100vh - 106px);
  background: #fff;
  overflow-y: auto;
  padding: 2%;
}

.ky-customerInfo span{
  font-size: 0.9em;
}

.ky-home-customerInfo-container button{
  padding: 12px 8px;
}

.ky-home-customerInfo-container button span:nth-child(1){
  margin-right: 4px;
  font-size: 24px;
}

.ky-home-customerInfo-container button span:nth-child(2){
  font-size: 0.875em;
}

.ky-swiper-container{
  height: 38vh;
}

.swiper-container{
  width: 50%;
  padding-bottom: 32px;
}

.ky-exchange-rate-contact-admin-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 14px;
}

.ky-contact-admin-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.ky-accounts-accordion{
  grid-column: 2/3;
  grid-row: 1/3;
}

.ky-membership-accordion-header{
  display: none;
}

.ky-membership-accordion-body{
  max-height: none;
  position: relative;
  box-shadow: 0 0 4px 0 #c1bfbf;
  overflow: hidden;
  padding: 0;
  background: #fff;
  border-radius: 6px;
  height: 30vh;
  margin-bottom: 14px;
}

.ky-membership-tab-header,
.ky-membership-tab-indicator{
  max-height: none;
}

.ky-membership-head{
  display: none;
}

.ky-membership-tab-header{
  display: flex;
  align-items: center;
  height: 50px;
}

.ky-percentage-container{
  top: 0;
}

.ky-membership-tab{
  width: calc(100% / 4);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 800;
  outline: none;
}

.ky-membership-tab i{
  margin-right: 4px;
}

.ky-membership-body{
  padding: 28px 22px;
}

.ky-active-tab-header > span{
  color: #2EC5FF;
}

.ky-membership{
  position: absolute;
  top: -200%;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 500ms ease-in-out 0ms,
              transform 500ms ease-in-out 0ms;
}

.ky-active-tab-body{
  top: 50px;
  opacity: 1;
  transform: scale(1);
}

.ky-membership-body p{
  width: 82%;
}

.ky-percentage-container{
  right: 22px;
  top: 50%;
  transform: translateY(-50%);
  width: 76px;
  height: 76px;
  box-shadow: 0 0 4px 0 #c1bfbf;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ky-percentage-container > span:nth-child(1){
  margin-bottom: 8px;
}

.ky-membership-tab-indicator{
  position: relative;
  width: calc(100% / 4);
  height: 3px;
  background: #2EC5FF;
  border-radius: 2px;
  left: 0;
  transition: all 200ms ease-in-out;
}

}
/* End Desktop View */
